@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    position: relative;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    font-family: 'Inter', sans-serif
}
.all{
    position: absolute;
    width: 1248px;
    height: 754px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}
header {
    position: relative;
    height: 139px;
    width: 1822px;
    margin-left: auto;
    display: block;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #4B5D68;
    font-size: 16px; 
}
.logo {
    position: absolute;
    top: 8px;
}
.about {
    color:#212353;
}
.header_text{
    text-decoration: none;
    position: absolute;
    width: 416px;
    height: 42px;
    left: 170px;
    margin: 17px 20px;
    top: 0px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    
}
.bt_Request_Demo {
    position: absolute;
    width: 208px;
    height: 60px;
    left: 796px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgb(75 93 104 / 10%);
    border-radius: 50px;
    border: 0ch;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #212353;
    font-weight: bold;
    cursor: pointer;
}  
.arrow{
    top: 23px;
    position: absolute;
    left: 170px;
}
/* main */
.Save-youre-data {
    width: 1175px;
    height: 558px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.title-save {
    width: 427px;
    height: 139px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height:1;
    color:#212353;
}
.box-text-save {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    width: 293px;
    color: #4B5D68;
    font-size: 18px;
}
.save-img {
    position: absolute;
    left: 282px;
    top: 29px;
}
.learn {
    position: absolute;
    border-radius: 50px;
    background-color:  #9C69E2; 
    color:white;  
    padding: 17px 25px;
    border: none;
    top: 354px;
    cursor: pointer;
}
/* box2 */
.box2 {
    background-color: rgba(240, 99, 184, 0.15);
    position: relative;
    width: 1117px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
h2 {
    position: absolute;
    top: 100px;
    left: 550px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    color: #212353;
}
.text-girl {
    position: absolute;
    top: 250px;
    left: 550px;
    width: 383px;
    color: #4B5D68;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
/* box3 */
.box3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1253.85px;
    height: 1140.06px;
    left: 150px;
    top: 150px;
}
.features-title {
    width: auto;
    height: 50px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    text-align: center;
}
.features-text {
    width: 563px;
    text-align: center;
    position: relative;
    left: 350px;
    top: 92px;
    line-height: 2;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
}
/* boxs 4/4 */
/* box 1/4 */
.box-1 {
    position: relative;
    width: 519.27px;
    height: 355px;
    top: 298px;
    left: 115px;
}
.photo-1-box {
    position: absolute;
    top: 30px;
}

.title-1-box {
    position: relative;
    width: 197px;
    height: 43px;
    left: 257px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
    }
h4 {
    font-weight: 5;
    text-align: center;
} 
.text-1-box {
    position: relative;
    width: 204px;
    height: 160px;
    left: 289px;  
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4B5D68;

}
.learn-more-1 {
    position: absolute;
    width: 127px;
    height: 26px;
    top: 229px;
    left: 268px;
    border: none;
    background: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    color: #212353;
    font-size: 16px;
    cursor: pointer;
}
.arrow-1 {
    position: absolute;
    top: 5px;
    left: 129px;
}
/* box 2/4 */
.box-2 {
    position: relative;
    width: 519.27px;
    height: 355px;
    top: -60px;
    left: 680px;
}
.photo-2-box {
    position: absolute;
}
.text-2-box {
    position: relative;
    width: 197px;
    height: 43px;
    left: 257px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
    }
.title-2-box {
    position: relative;
    width: 199px;
    height: 43px;
    left: 269px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
     }
h5 {
    font-weight: 5;
    text-align: center;
    font-size: 24px;
    }
.text-2-box {
    position: relative;
    width: 208px;
    height: 160px;
    left: 274px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    color: #4B5D68;
    font-size: 16px;
    }
.learn-more-2 {
    position: absolute;
    width: 127px;
    height: 26px;
    top: 229px;
    left: 268px;
    border: none;
    background: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    color: #212353;
    font-size: 16px;
    cursor: pointer;
    }
/* box-3/4 */
.box-3 {
    position: relative;
    width: 513.27px;
    height: 358px;
    bottom: 56px;
    left: 115px;

    }
h6 {
    font-weight: 5;
    text-align: center;
    font-size: 24px;
    }
.title-3-box {
    position: relative;
    width: 95px;
    height: 43px;
    left: 274px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
    }
.photo-3-box {
    position: absolute;
    top: 49px;
    }
.text-3-box {
    position: relative;
    width: 208px;
    height: 160px;
    left: 274px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    color: #4B5D68;
    font-size: 16px;
    }
.learn-more-3 {
    position: relative;
    width: 166px;
    height: 27px;
    top: 47px;
    left: -26px;
    border: none;
    background: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    color: #212353;
    font-size: 16px;
    cursor: pointer;
    }
/* box 4/4 */
.box-4 {   
    left: 680px;
    position: relative;
    width: 519.27px;
    height: 355px;
    bottom: 400px;
    }
 
.photo-4-box {
    position: absolute;
    top:40px;
    }
.h7 {
    font-weight: 5;
    text-align: center;
    font-size: 24px;
    }


.text-4-box {
    position: relative;
    width: 208px;
    height: 160px;
    left: 274px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    color: #4B5D68;
    font-size: 16px;
        }
.title-4-box {
    position: relative;
    width: 199px;
    height: 43px;
    left: 269px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
    }
.learn-more-4 {
    position: relative;
    width: 166px;
    height: 27px;
    top: 40px;
    left: -38px;
    border: none;
    background: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    color: #212353;
    font-size: 16px;
    cursor: pointer;
    }
/* box4 */
.purp_div {
    width: 1118px;
    height: 709px;
    left: 242px;
    margin: 275px 245px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background: #9C69E2;
    }
.purp-text {
    width: 405px;
    height: 52px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color:white;
    margin: 109px 93px;
    position: absolute;
    }
.white_div {
    background: white;
    position: absolute;
    width: 949px;
    height: 330px;
    box-shadow: 0px 20px 0px rgb(156 105 226 / 30%);
    border-radius: 20px;
    margin: 248px 86px;
    }
.man-photo {
    position: absolute;
    margin: 39px 100px;
    
    }
h8 {
    position: absolute;
    margin: 55px 252px;
    color: #212353;
    font-family: Avenir;
    font-style: normal;
    }
.wordfaang {
    text-decoration: none;
    color: #9C69E2;
    font-size: 14px;
    margin: 78px 250px;
    cursor: pointer;
    position: absolute;
    font-family: Avenir;
    }
.text-man {
    position: absolute;
    width: 439.46px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4B5D68;
    margin: 116px 249px;
    }
.points {
    position: absolute;
    margin: 616px 76px;
    }
.arrows {
    margin: 0px 827px;
    position: absolute;
    }   
/* footer */
.footer {
    width: 1151px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 81px;
    }
    
.Try {
    position: relative;
    width: 319px;
    margin: 37px 2px;
    height: 43px;
    }
h9 {
    color: #212353;
    font-size: 40px;
    font-family: Helvetica;
     font-style: normal;
     font-weight: bold;
    }
 .text-try {
    color: #4B5D68;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    }
.bt-two {
    margin: -62px 693px;
    display: flex;
    width: 439px;
    }
.bt1_footer {
    height: 50px;
    width: 195px;
    background: #F063B8;
    color: white;
    border: none;
    border-radius: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    }
.bt2_footer {
    height: 50px;
    width: 195px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgb(75 93 104 / 10%);
    font-weight: bold;
    cursor: pointer;
    }
.bt1-div {
    padding: 0 35px;
    }
/* last div */
.last_div {
    width: 1191px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 107px;
    height: 408px;
}
.div-logo {
    display: flex;
    align-items: center;
    text-indent: 50px;
    color: #212353;
    font-family: Avenir;
    font-size: 20px;
}
.text1-last-div {
    margin: 63px 0;
    width: 219px;
    line-height: 2.3;
    color: #212353;
    font-family: Avenir;
    font-weight: 500;
    cursor: pointer;
}
.a1 {
    color: #212353;
    cursor: pointer;
}
.text_about {
    position: absolute;
    width: 72px;
    height: 289px;
    font-family: Avenir;
    margin: -330px 421px;
    color: #212353;
    line-height: 3.1;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.p1 {
    font-weight: bold;
    cursor: pointer;
}
.text-help {
    position: absolute;
    width: 72px;
    height: 289px;
    font-family: Avenir;
    margin: -330px 656px;
    color: #212353;
    line-height: 3.1;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.p2 {
    font-weight: bold;
    cursor: pointer;
}
.p2-2 {
    line-height: 2.8;
}
.social {
    position: absolute;
    width: 95px;
    height: 79px;
    font-family: Avenir;
    margin: -330px 860px;
    color: #212353;
    line-height: 3.1;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.p3 {
    font-weight: bold;
    cursor: pointer;
}
.sm {
    cursor: pointer;
    margin: -227px 860px;
    position: absolute;
}
.ps {
    font-family: Avenir;
    color: #212353;
    font-size: 12px;
    width: 235px;
    margin: 38px 0px;
    position: absolute;
    font-weight: 500;
}
.ms {
    cursor: pointer;
    position: absolute;
    cursor: pointer;
    position: absolute;
    margin: 37px 992px;
}
