@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    position: relative;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    font-family: 'Inter', sans-serif
}
.all{
    position: absolute;
    width: 1248px;
    height: 754px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}
header {
    position: relative;
    height: 833px;
    width: 1700px;
    left: 138px;
    top: 100px;   
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #4B5D68;
    font-size: 16px; 
}
.logo {
    position: absolute;
    top: 8px;
}
.about {
    color:#212353;
}
.header_text{
    text-decoration: none;
    position: absolute;
    width: 416px;
    height: 42px;
    left: 170px;
    margin: 17px 20px;
    top: 0px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    
}
.bt_Request_Demo {
    position: absolute;
    width: 208px;
    height: 60px;
    left: 796px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgb(75 93 104 / 10%);
    border-radius: 50px;
    border: 0ch;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #212353;
    font-weight: bold;
    cursor: pointer;
}  
.arrow{
    top: 23px;
    position: absolute;
    left: 170px;
}
/* main */
.Save-youre-data {
    width: 676px;
    height: 464px;
    left: 150px;
    top: 277px;
    position: absolute;
}
.title-save {
    width: 427px;
    height: 139px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height:1;
    color:#212353;
}
.box-text-save {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    width: 293px;
    color: #4B5D68;
    font-size: 18px;
}
.save-img {
    position: absolute;
    left: 282px;
    top: 29px;
}
.learn {
    position: absolute;
    border-radius: 50px;
    background-color:  #9C69E2; 
    color:white;  
    padding: 17px 25px;
    border: none;
    top: 354px;
    cursor: pointer;
}
/* box2 */
.box2 {
    background-color: rgba(240, 99, 184, 0.15);
    position: relative;
    width: 1117px;
    height: 560px;
    left: 150px;
    border-radius: 50px;
}
h2 {
    position: absolute;
    top: 100px;
    left: 550px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    color: #212353;
}
.text-girl {
    position: absolute;
    top: 250px;
    left: 550px;
    width: 383px;
    color: #4B5D68;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
/* box3 */
.box3 {
    position: relative; 
    width: 1253.85px;
    height: 1140.06px;
    left: 150px;
    top: 150px;
}
.features-title {
    width: auto;
    height: 50px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    text-align: center;
}
.features-text {
    width: 563px;
    text-align: center;
    position: absolute;
    left: 350px;
    top: 92px;
    line-height: 2;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
}
/* boxs 4/4 */
/* box 1/4 */
.box-1 {
    position: relative;
    width: 519.27px;
    height: 355px;
    top: 298px;
    left: 115px;
}
.photo-1-box {
    position: absolute;
    top: 30px;
}

.title-1-box {
    position: relative;
    width: 197px;
    height: 43px;
    left: 257px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
    }
h4 {
    font-weight: 5;
    text-align: center;
} 
.text-1-box {
    position: relative;
    width: 204px;
    height: 160px;
    left: 289px;  
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4B5D68;

}
.learn-more-1 {
    position: absolute;
    width: 127px;
    height: 26px;
    top: 229px;
    left: 268px;
    border: none;
    background: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    color: #212353;
    font-size: 16px;
    cursor: pointer;
}
.arrow-1 {
    position: absolute;
    top: 5px;
    left: 129px;
}
/* box 2/4 */
.box-2 {
    position: relative;
    width: 519.27px;
    height: 355px;
    top: -60px;
    left: 680px;
}
.photo-2-box {
    position: absolute;
}
.text-2-box {
    position: relative;
    width: 197px;
    height: 43px;
    left: 257px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
}
.title-2-box {
    position: relative;
    width: 199px;
    height: 43px;
    left: 269px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
}
h5 {
    font-weight: 5;
    text-align: center;
    font-size: 24px;
}
.text-2-box {
    position: relative;
    width: 208px;
    height: 160px;
    left: 274px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    color: #4B5D68;
    font-size: 16px;
}
.learn-more-2 {
    position: absolute;
    width: 127px;
    height: 26px;
    top: 229px;
    left: 268px;
    border: none;
    background: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    color: #212353;
    font-size: 16px;
    cursor: pointer;
}
/* box-3/4 */
.box-3 {
    position: relative;
    width: 513.27px;
    height: 358px;
    bottom: 56px;
    left: 115px;

}
h6 {
    font-weight: 5;
    text-align: center;
    font-size: 24px;
}
.title-3-box {
    position: relative;
    width: 95px;
    height: 43px;
    left: 274px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
}
.photo-3-box {
    position: absolute;
    top: 49px;
}
.text-3-box {
    position: relative;
    width: 208px;
    height: 160px;
    left: 274px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    color: #4B5D68;
    font-size: 16px;
}
.learn-more-3 {
    position: relative;
    width: 166px;
    height: 27px;
    top: 47px;
    left: -26px;
    border: none;
    background: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    color: #212353;
    font-size: 16px;
    cursor: pointer;
}
/* box 4/4 */
.box-4 {   
    left: 680px;
    position: relative;
    width: 519.27px;
    height: 355px;
    bottom: 400px;
}
 
.photo-4-box {
    position: absolute;
    top:40px;
}
.h7 {
    font-weight: 5;
    text-align: center;
    font-size: 24px;
}


.text-4-box {
    position: relative;
    width: 208px;
    height: 160px;
    left: 274px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    color: #4B5D68;
    font-size: 16px;
}
.title-4-box {
    position: relative;
    width: 199px;
    height: 43px;
    left: 269px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #212353;
}
.learn-more-4 {
    position: relative;
    width: 166px;
    height: 27px;
    top: 40px;
    left: -38px;
    border: none;
    background: white;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    color: #212353;
    font-size: 16px;
    cursor: pointer;
}
