@font-face {
    font-family: "girloy";
    src: url("./fonts/girloy/Gilroy-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 900;
     }
html{
    font-family: 'Inter', sans-serif;
} 
.body{
    background-color:gray;
}
/*1*/
.box1 {
   background-color: #0B2239;
   width: 1440px;
   padding:  10px 60px;
   margin: 0 16px;
   display: flex;
   align-items: center;

    
}
.text1{
    color: white;
    margin-right: 42px;
    font-size: 13px;
    max-width: 922px;
    width: 100%; 
    line-height: 20px;
   
   
}
.bt1{
    display:inline-flex;
    background:transparent;
    cursor: pointer;  
    color: #4AD295;
    outline:none;
    border: none;
    white-space: nowrap;
    margin-right: 20px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;  

}
.bt2{
    padding: 8px 12px;
    background: #4AD295;
    color:white;
    border: none;
    display:inline-flex;
    cursor: pointer;
    border-radius:2px;
}
/*2*/
.box2{
    width: 1440px;
    background-color: #2B2627;
    align-items:center;
    display: flex;
    margin-top: 24px;
    margin-left: 16px; 
    
}
.text2{
    color:white;
    font-size: 13px;
    flex: none;
    flex-grow: 0;
    margin: 20px 8px;
    margin-left: 8px;


}
.hrest{
    cursor: pointer;
    width: 16px;
}
.one{
    margin-left: 400px;
}
.sul{
    color:white;
}
/*3*/
.box3{
    background-color: white;
    width: 560px;
    padding:  16px 14px;
    margin-top:72px;
    display: flex;
    align-items: center;
    margin-left: 16px;   
    border-radius: 16px;
}
.btimg1{
    background:rgba(234, 76, 137, 0.1);
    border:none;
    height: 36px;
    padding: 8px;
    margin-left: 29px;
    border-radius:10px;
    cursor: pointer;

}
.bt3{
    background:#E8E8E8;
    height: 28px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
}
.bt4{
    background: #EA4C89;
    padding: 4px 10px;
    width: 52px;
    height: 28px;
    border-radius: 8px;
    margin:0px 10px;
    border:none;
    color: white;
    cursor: pointer;
}
.text3{
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
}
.sul2{
    color: #EA4C89;
    text-decoration: none;
    cursor: pointer;
}
/*4*/
.box4{
    background-color: #26262B;;
    width: 560px;
    padding:  16px 14px;
    margin-top:36px;
    display: flex;
    align-items: center;
    margin-left: 16px;   
    border-radius: 10px;
    font-size: 12px;
    
}
.text4{
    color:white;
    line-height: 20px;
}
.bt5{
    background:white;
    padding: 4px 10px;
    width: 52px;
    height: 28px;
    border-radius: 8px;
    margin:0px 10px;
    border:none;
    color: black;
    cursor: pointer;
}
.sul3{
    color:#dd8136;
    text-decoration: none;
    cursor: pointer;
}
/*5*/
.box5{
    max-width: 360px;
    padding: 24px;
    margin-right: 40px;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: 72px;
    margin-left: 16px;
}
.text5{
    color:white;
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
 
}
.sul4{
    color: white;
    text-decoration: none;
    margin-top: 24px;
}
.bt6{
    border: none;
    border-radius: 6px;
    margin-left: 64px;
    padding: 8px 20px;
    background: #09B3AF;
    color:white;
    cursor: pointer;
}
.box5-2{
    white-space: none
}
.sul5{
    color: white;
}
/*6*/
.box6{
    background:white;
    max-width: 360px;
    padding: 16px;
    margin-right: 40px;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: 72px;
    margin-left: 40px;

}
.Cookie-Notice2{
    color:black;
    height: 15px;
}
.box6-1{
    display: flex;
    align-items: center;
   
}
.title1{
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 8px;
}
.bt7{
    background:#EAF0F4;
    border: none;
    padding-left:30px ;
    padding-right: 30px;
    font-size:14px;
    color: #687F8C;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.bt8{
    margin-left: 8px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border:none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    color:white;
    font-size: 14px;
    cursor: pointer;
    
}
.box5-6{
    display: flex;
}
.text6{
    color:#687F8C;
    margin-top: 0px;
}
/* 7 */
.box7-8{
    margin-top: 72px;
    margin-left:16px;
    display: flex;
}
.box7{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    padding: 32px;
    width: 320px;
    display: flex;
    flex-direction:column;
    align-items: center;
    box-sizing: border-box;
}
h2{
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 900;
    font-family: "girloy";
    color:#15295A;
}
.text7{
    font-size: 16px;
    max-width: 256px;
    text-align: center;
    color: #15295A;
    margin-bottom: 32px;
}
.bt9{
    background: #4A7EFF;
    border-radius: 43px;   
    border: none;
    color: white;
    font-size: 16px;
    padding:10px 32px;
    font-weight: 700;
    cursor: pointer;
}
/* 8 */
.box8{
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    max-width: 320px;
    padding: 16px 16px 16px;
    margin-left: 40px;
    
}
.text8{
    font-size: 16px;
}
.sul10{
    font-size: 14px;
    color: #6666FF;
    text-decoration: none;

}
.bt10{
    background: #6666FF;
    border-radius: 4px;
    color: white;
    margin-left: 157px;
    border:none;
    cursor: pointer;
    padding: 10px 12px;
}